@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.font-lemon {
  font-family: 'Lemonada';
}
